server:
  port: 9090

eureka:
  client:
    register-with-eureka: false

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: service-producer
          uri: lb://service-producer
          predicates:
            - Path=/producer/**
        - id: service-consumer
          uri: lb://service-consumer
          predicates:
            - Path=/consumer/**

logging:
  level:
    by:
      dzinevich:
        gateway: DEBUG
